__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
env/
.ipynb_checkpoints/
models/*.pt
models/*.onnx
history.csv
history.csv
*.log
.DS_Store
.streamlit/secrets.toml
.cache/.streamlit/
.streamlit/
.streamlit/
